<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h3>Mantenedor jerarquia Geogriafica</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            Empresas
            <select class="form-control" #emp id="empresaselect" (change)="change($event.target.value)">
                <option *ngFor="let e of empresas;" value="{{e.IDEmpresa}}" >{{e.Nombre}}</option>
            </select>

        </div>
        <div class="col-lg-9">
            <br />
            <div class="control-section" style="overflow:hidden;">

                <div class="control_wrapper">
                    <ejs-treeview id="default" [fields]="treeFields" [showCheckBox]="true" #nodo (nodeChecked)='nodeSelected($event)'></ejs-treeview>
                </div>

            </div>
            <br />
            <input type="button" class="btn btn-success mr-2" (click)="open(content)" value="Agregar">
            <input type="button" class="btn btn-warning mr-2" (click)="edit(modalEdit)" value="Editar">
            <input type="button" class="btn btn-danger" (click)="eliminar(modal_del)" value="Eliminar">
        </div>
    </div>
</div>


<ng-template #content let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Nuevo Nodo</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label for="namen">Nombre:</label>
            <br />
            <input type="text" class="form-control" id="namen" required [(ngModel)]="name" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="guardar(emp,content,nodo)">Guardar</button>
    </div>
</ng-template>

<ng-template #modalEdit let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Editar Nodo</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label for="namen">Nombre:</label>
            <br />
            <input type="text" class="form-control" id="namen" required [(ngModel)]="editSelected" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="editselectedrow(emp)">Guardar</button>
    </div>
</ng-template>

<ng-template #modal_del let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Eliminar Nodo</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label for="namen">Esta Seguro que borrara este nodo?</label>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="eliminarNodo(emp)">Confirmar</button>
        <button type="button" class="btn btn-secondary" (click)="d('Cross click')">Cancelar</button>
    </div>
</ng-template>




<style>
    .control_wrapper {
        max-width: 500px;
        border: 1px solid #dddddd;
        border-radius: 3px;
    }
</style>