<nav class="navbar navbar-expand-md navbar-dark bg-dark ">
    <a class="navbar-brand" [routerLink]="['/home']" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/Documentos']">Ingresos <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/status']">Documentos</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navconsultas" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Consultas
                        </a>
                <div class="dropdown-menu btngeo" aria-labelledby="navconsultas">
                    <a class="dropdown-item " [routerLink]="['/Borrador']" href="#">Borradores</a>
                    <a class="dropdown-item " [routerLink]="['/Ingresado']" href="#">Ingresados</a>
                    <a class="dropdown-item " [routerLink]="['/Aprobado']" href="#">Aprobados</a>
                    <a class="dropdown-item " [routerLink]="['/Publicado']" href="#">Publicados</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navconsultas" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Revisiones
                        </a>
                <div class="dropdown-menu btngeo" aria-labelledby="navconsultas">

                    <a class="dropdown-item " [routerLink]="['/ringresados']" href="#">Ingresados</a>
                    <a class="dropdown-item " [routerLink]="['/raprobados']" href="#">Aprobados</a>

                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Mantenedores
                        </a>
                <div class="dropdown-menu btngeo" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item " [routerLink]="['/geografica']" href="#">Jerarquía Geográfica</a>
                    <a class="dropdown-item " [routerLink]="['/contexto']" href="#">Jerarquía Contexto</a>
                    <a class="dropdown-item " [routerLink]="['/organizacional']" href="#">Jerarquía Organizacional</a>
                    <a class="dropdown-item " [routerLink]="['/mempresa']" href="#">Empresas</a>
                </div>



            </li>
        </ul>
    </div>
</nav>
<br />
<router-outlet></router-outlet>
<br />
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="background-color: #F3F3F3;">
            <div class="modal-header" style="background-color: #17A2B8;">
                <h4 class="modal-title" style="color: white;">INGRESO DOCUMENTOS</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="card" style="background-color: #F5F7F9;">
                    <div class="card-body">
                        <h4 class="card-title">Datos Documento</h4>
                        <form>
                            <div class="form-row">

                                <div class="form-group col-sm-4">
                                    <label for="empresa">Empresa</label>
                                    <select class="form-control" id="empresa">
                                      
                                  </select>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="estado">Estado</label>
                                    <select class="form-control" id="estado">
                                      <option value="1">Activo</option>
                                      <option value="1">No Activo</option>
                                  </select>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="estado">Estado Flujo</label>
                                    <select class="form-control" id="estadoflujo">
                                      <option value="Borrador">Borrador</option>
                                     
                                  </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="ddoc">Descripción documento</label>
                                <input type="email" class="form-control" id="descripcion" />
                            </div>


                            <div class="form-row">
                                <div class="form-group col-sm-4">
                                    <label for="cdocumento">Codigo documento</label>
                                    <input type="text" class="form-control" id="codigodocumento" s />
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="tdoc">Tipo Documento</label>
                                    <select class="form-control" id="tipodocumentoc">
                                      <option value="pdf">pdf</option>
                                      <option value="word">word</option>
                                      <option value="excel">excel</option>
                                  </select>
                                </div>

                                <div class="form-group col-sm-4 center">
                                    <label>Confidencial</label>
                                    <br />

                                    <input type="checkbox" name="confidencial" value="1" id="siconf" />

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-row">

                                    <div class="form-group col-sm-4">
                                        <label for="geo">Seleccione geografia</label>
                                        <div style="font-size: 12px;" id="geoform">

                                        </div>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label for="geo">Seleccione Contexto</label>
                                        <div style="font-size: 12px;" id="conform">

                                        </div>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label for="geo">Seleccione organizacion</label>
                                        <div style="font-size: 12px;" id="orgform">

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </form>

                    </div>
                </div>
                <br />
                <div class="card" style="background-color: #F5F7F9;">
                    <div class="card-body">
                        <h4 class="card-title">Datos de control y auditoría </h4>
                        <form>
                            <div class="form-row">

                                <div class="form-group col-sm-4">
                                    <label for="empresa">Usuario genera</label>
                                    <input type="text" class="form-control" id="UsuarioGenera" />
                                </div>

                                <div class="form-group col-sm-4">
                                    <label for="estado">Fecha límite definitivo</label>
                                    <input type="text" class="form-control" id="fechaiimiteDef" />
                                </div>

                            </div>


                            <div class="form-group">
                                <label for="estado">Ingreso documento</label>
                                <input type="file" name="filesend" class="form-control" #filesvr id="filesvr" onchange="verArchivo(this)" />
                            </div>
                        </form>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="btnEnviar" (click)="save_doc(filesvr)">Enviar</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-md addNode" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="background-color: #F3F3F3;">
            <div class="modal-header" style="background-color: #17A2B8;">
                <h4 class="modal-title" style="color: white;">AGREGAR NIVEL</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="card" style="background-color: #F5F7F9;">
                    <div class="card-body">
                        nombre: <input class="nombreNodo" id="nombreNodo" type="text">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="guardarBTN" onclick="guardaNodo()">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-md removeNode" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="background-color: #F3F3F3;">
            <div class="modal-header" style="background-color: #17A2B8;">
                <h4 class="modal-title" style="color: white;">AGREGAR NIVEL</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="card" style="background-color: #F5F7F9;">
                    <div class="card-body">
                        Esta seguro que quiere eliminar el nodo?.

                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="delNodo()">Aceptar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-md editNode" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="background-color: #F3F3F3;">
            <div class="modal-header" style="background-color: #17A2B8;">
                <h4 class="modal-title" style="color: white;">EDITAR NIVEL</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="card" style="background-color: #F5F7F9;">
                    <div class="card-body">
                        nombre: <input class="nombreNodo" id="editNodo" type="text">

                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="selectEditar()">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-md editStatusPublicado" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="background-color: #F3F3F3;">
            <div class="modal-header" style="background-color: #17A2B8;">
                <h4 class="modal-title" style="color: white;">EDITAR ESTADO</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="card" style="background-color: #F5F7F9;">
                    <div class="card-body">
                        Estado:
                        <select class="form-control" #seleccionPubli id="estadoflujoEditar">
                          <option value="Borrador">Borrador</option>
                          <option value="Ingresado">Ingresado</option>
                          <option value="Aprobado">Aprobado</option>
                          <option value="Publicado">Publicado</option>
                      </select>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="editarDoc(seleccionPubli)">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!--popup de estado borrador-->
<div class="modal fade bd-example-modal-md editStatusBorrador" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="background-color: #F3F3F3;">
            <div class="modal-header" style="background-color: #17A2B8;">
                <h4 class="modal-title" style="color: white;">EDITAR ESTADO</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="card" style="background-color: #F5F7F9;">
                    <div class="card-body">
                        Estado:
                        <select class="form-control" #seleccion id="estadoflujoEditar">
                          <option value="Ingresado">Seleccione:</option>
                          <option value="Ingresado">Ingresado</option>
                      </select>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="editarDoc(seleccion)">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!--Popup estado Ingresado-->
<div class="modal fade bd-example-modal-md editStatusIngresado" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="background-color: #F3F3F3;">
            <div class="modal-header" style="background-color: #17A2B8;">
                <h4 class="modal-title" style="color: white;">EDITAR ESTADO</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="card" style="background-color: #F5F7F9;">
                    <div class="card-body">
                        Estado:
                        <select class="form-control" #seleccioningresa id="estadoflujoEditar">
                          <option value="Ingresado">Seleccione:</option>
                          <option value="Borrador">Borrador</option>
                          <option value="Aprobado">Aprobado</option>
                      </select>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="editarDoc(seleccioningresa)">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!--Popup estado Aprobado-->
<div class="modal fade bd-example-modal-md editStatusAprobado" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="background-color: #F3F3F3;">
            <div class="modal-header" style="background-color: #17A2B8;">
                <h4 class="modal-title" style="color: white;">EDITAR ESTADO</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="card" style="background-color: #F5F7F9;">
                    <div class="card-body">
                        Estado:
                        <select class="form-control" #seleccionapro id="estadoflujoEditar">
                          <option value="Ingresado">Seleccione:</option>
                          <option value="Ingresado">Ingresado</option>
                          <option value="Publicado">Publicado</option>
                      </select>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="editarDoc(seleccionapro)">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>






<label id="publicoprivadosel" style="display: none;">0</label>
<label id="confidencialsel" style="display: none;">0</label>
<label id="organizasel" style="display: none;">0</label>
<label id="geografiasel" style="display: none;">0</label>
<label id="contextosel" style="display: none;">0</label>
<label id="mantjersel" style="display: none;">0</label>
<label id="mantjerselEdit" style="display: none;">0</label>
<label id="tipoJer" style="display: none;">0</label>
<label id="doc" style="display: none;">0</label>
<label id="name" style="display: none;">0</label>
<label id="seleccionEditar" style="display: none;">0</label>

<input type="button" id="btnshoweditarBorrador" style="display: none;" onclick="showstatus('Borrador');" value="show">
<input type="button" id="btnshoweditarAprobado" style="display: none;" onclick="showstatus('Aprobado');" value="show">
<input type="button" id="btnshoweditarIngresado" style="display: none;" onclick="showstatus('Ingresado');" value="show">
<input type="button" id="btnshoweditarPublicado" style="display: none;" onclick="showstatus('Publicado');" value="show">

<input type="button" id="btnhideeditar" style="display: none;" onclick="hidestatus();" value="Descargar">