<div class="container">
    <div class="row" id="principal">
        <div class="col-lg-12">
            <h4>EMPRESAS INGRESADAS</h4>
            <br />
            <input type="button" class="btn btn-primary btn-sm" (click)="open(content)" value="NUEVA EMPRESA">
            <br />
            <div class="table-responsive ">
                <table class="table " style="font-size: 12px; ">
                    <thead>
                        <tr>
                            <th>Nombre </th>
                            <th>Razón social </th>
                            <th>Dirección</th>
                            <th>Usuario Creador</th>
                            <th>Fecha Creación</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr mdbTableCol *ngFor="let el of empresas ">
                            <th scope="row ">{{el.Nombre}}</th>
                            <td>{{el.RazonSocial}}</td>
                            <td>{{el.Direccion}}</td>
                            <td>{{el.UsuarioCreador}}</td>
                            <td>{{el.FechaHoraCreacion}}</td>
                            <td><input type="button " class="btn btn-danger btn-sm " (click)="del_empresa(el.IDEmpresa) " value="Eliminar "> </td>

                        </tr>
                    </tbody>
                </table>
                <input type="button " id="refresh " style="display: none; " value="Descargar ">
            </div>
        </div>

    </div>

</div>

<ng-template #content let-modal>
    <div class="modal-header ">
        <h4 class="modal-title " id="modal-basic-title ">NUEVA EMPRESA</h4>
        <button type="button " class="close " aria-label="Close " (click)="modal.dismiss( 'Cross click') ">
      <span aria-hidden="true ">&times;</span>
    </button>
    </div>
    <div class="modal-body ">
        <div class="form-group">
            <label for="exampleFormControlInput1">Nombre:</label>
            <input type="text" class="form-control" #nombre>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Razón social:</label>
            <input type="text" class="form-control" #razon>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Dirección:</label>
            <input type="text" class="form-control" #direccion>
        </div>
    </div>
    <div class="modal-footer ">
        <input type="button" class="btn btn-outline-dark" (click)="guardarEmpresa(nombre.value,razon.value,direccion.value,validacion)" value="Guardar" />
    </div>
</ng-template>

<ng-template #validacion let-modal>
    <div class="modal-header ">
        <h4 class="modal-title " id="modal-basic-title ">NUEVA EMPRESA</h4>
        <button type="button " class="close " aria-label="Close " (click)="modal.dismiss( 'Cross click') ">
      <span aria-hidden="true ">&times;</span>
    </button>
    </div>
    <div class="modal-body ">
        <form>
            <label>{{mensaje}}</label>
        </form>
    </div>
    <div class="modal-footer ">
        <input type="button" class="btn btn-outline-dark" (click)="modal.dismiss( 'Cross click') " value="Cerrar" />
    </div>
</ng-template>